<h1>Login to your account</h1>

<h2>{{ error }}</h2>

<!-- POST is like GET but makes the variables in the URL hidden. Also POST is generally used for changing something
     in the database while GET is used for reading from database. When we call a URL it's always a GET,
     POST is a method for forms and is originated from inside of the code  -->
<form method="POST">

    <!-- For preventing Cross-site request forgery (CSRF) attack -->
    {% csrf_token %}

    {{ form.as_p }}

    <!-- Putting submit as type makes clicking this button as default when user hit Enter -->
    <button type="submit">Login</button>

</form>

<a href="{% url 'usersignup' %}">
    <button>Signup</button>
</a>