<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

{% load static %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src={% static 'QatarLogo.png' %} alt="" width="100" height="100" class="navbar-brand d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="POST">
                        <!-- For preventing Cross-site request forgery (CSRF) attack -->
                        {% csrf_token %}
                        <!-- Putting submit as type makes clicking this button as default when user hit Enter -->
                        <h2>Greetings {{ user.name }}</h2>
                        <button type="submit" class="btn btn-primary shadow-lg">Logout</button>
                        <a class="btn btn-primary shadow-lg" href="#">Home</a>    
                    </form>
                </li>          
                {% else %}
                <li class="nav-item">
                    <p>You are not logged in</p>
                    <a class="btn btn-primary shadow-lg " href="{% url 'userlogin' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% comment %} 
<script src={% static 'init.js' %}></script>
{% if user.is_authenticated %}

<form method="POST">

    <!-- For preventing Cross-site request forgery (CSRF) attack -->
    {% csrf_token %}

    <!-- Putting submit as type makes clicking this button as default when user hit Enter -->
    <p>Greetings {{ user.name }}</p>
    <button type="submit" class="btn btn-primary shadow-lg ms-5">Logout</button>
    <a href="http://google.com" class="btn btn-primary shadow-sm">link</a>
    <input type="button" class="btn btn-primary btn-sm" value="js-btn" onClick="popupAlert()" />
    
</form>



{% else %}

<h4>You are not logged in</h4>
<a href="{% url 'userlogin' %}">Login</a>

{% endif %} {% endcomment %}

{% block 'contents' %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
